#tend {
    margin-left: 26px;

}

.card {
    width: 200px;
    margin: 30px;
    border: none;
}

.card-body {
    text-align: center;

}

.d-block {
    background-image: url('https://gaming-cdn.com/img/products/4860/hcover/1920x620/4860.jpg');
    background-size: cover;
}

.image-container {
    border-radius: 20px;
    width: 200px;

    height: 200px;

    overflow: hidden;

    /* Masque tout contenu débordant de la div */
    img {
        width: 100%;

        height: 100%;

        object-fit: cover;

    }
}

a {
    text-decoration: none;
    color: black;
}