.main-image {
  width: 100%;
  height: 620px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-platform {
  position: absolute;
  box-sizing: border-box;
  width: 224px;
  height: 55px;
  left: 608px;
  top: 174px;

  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
}

.fiche-technique {
  position: absolute;
  width: 608px;
  height: 324px;
  left: 762px;
  top: 329px;

  background: #212529;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.fiche-technique h2 {
  padding-top: 20px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.fiche-technique h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  margin-top: 25px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.fiche-technique h4 {

  color: #f60c0c;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  margin-right: 100px;
  text-decoration-line: line-through;
}

.notice {
  text-align: center;
}

.fiche-technique button {
  align-items: flex-start;
  padding: 6px 12px;
  gap: 10px;
  align-items: center;
  text-align: center;
  height: 54px;
  left: 1015px;
  top: 485px;

  background: #b38c03;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
}

.img-titre {
  left: 103px;
  top: 329px;
  position: absolute;
}

.description {
  margin: 30px;
  margin-bottom: 70px;
  left: -21px;
  top: 720px;

  background: #4d4949;
}

h1 {
  width: 267px;
  height: 47px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */

  display: flex;
  align-items: center;

  color: #fffcfc;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description p {
  color: #ffffff;
  max-width: 800px;
  margin-top: 20px;
  margin-left: 40px;
  margin: 0;

  font-size: 16px;
}

.boutonAchat {
  text-align: center;
  margin-top: 30px;
}

.platforme {
  text-align: center;

  img {
    position: absolute;
    margin-top: 53px;
    z-index: 100;
  }

}

.appProduit {
  background: #4d4949;
}